@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Clicker+Script);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url('font-awesome.min.css');

/**********************************************************************

■Ateh's theme(template);
http://material.atehs.net/template/

**********************************************************************/


/***************************************************
　基本
****************************************************/

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

html,body {
    height: 100%;
}

img {
    border: none;
    margin:0px;
}

ul,ol {
    /*list-style: none disc circle square decimal upper-alpha lower-alpha upper-roman lower-roman
    cjk-ideographic hiragana katakana hiragana-iroha katakana-iroha */
    list-style: none;
    list-style-position: inside;

    font-size:100%;
    line-height:1.2;

    margin:20px 25px 20px 25px ;
}

li {
     /*list-style: none disc circle square decimal upper-alpha lower-alpha upper-roman lower-roman
     cjk-ideographic hiragana katakana hiragana-iroha katakana-iroha */
     list-style: circle;
     list-style-position: inside;

     margin:10px 15px 10px 15px ;
 }

.new_line {
    margin:5px 0px 0px 19px ;
    display: block;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {

    font-size:100%;
    line-height: 1.7;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color:#000002;

    background-color:#fffffe;

}


p{
    margin-bottom:20px;
}


/***************************************************
　リンク
****************************************************/

a,
a:link {
    color: #626063;
    text-decoration: none;
}

a:visited {
    color: #626063;
    text-decoration: none;
}

a:hover,
a:active {
    color: #898989;
}
a:focus {
    outline: none;
}

article,aside,details,footer,header,main,menu,nav,section,summary {
    display: block;
}



/***************************************************
　見出し
****************************************************/


h1 {
    margin-top:40px;
    margin-bottom:30px;
    font-size:120%;
    font-weight:bold;


}





h2{
    font-size: 150%;
    font-weight:bold;

    margin-top:23px;
    margin-bottom:13px;
    padding:0px 0px;

    border-bottom:solid 1px #000002;
}

h3{
    font-size: 100%;
    font-weight:bold;

    margin-top:23px;
    margin-bottom:13px;
    padding:0px 0px;

    border-bottom:dashed 1px #000002;
}


h2:hover{
    opacity: 0.8;
}


h3:hover{
    opacity: 0.8;
}

h4:hover{
    opacity: 0.8;
}

/***************************************************
　フォーム
****************************************************/

form{
    margin:50px 10px 50px 10px;
}


input, button, textarea, select {
    border:0px;
    padding:10px 10px 10px 10px;
    font-size:100%;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color:#000002;
    border:solid 1px #cccccc;
    margin:0px 0px 20px 0px;
    width:90%;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;


    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);

}


/***************************************************
　引用
****************************************************/
blockquote {
    /*    margin: 40px auto 40px auto;*/
    margin: 70px 10% 70px 10%;
    padding: 30px 10% 30px 10%;
    border: 1px solid #000002;
    font-size: 90%;

    border-radius:17px 17px 17px 17px;
    -webkit-border-radius:17px 17px 17px 17px;
    -moz-border-radius:17px 17px 17px 17px;
}


/*　レスポンシブ スマホ用　*/
@media screen and (max-width:879px){
    blockquote {
        margin: 10px auto 10px auto;
        padding: 20px 10% 20px 10%;
        border: 1px solid #000002;
        font-size: 90%;

        border-radius:17px 17px 17px 17px;
        -webkit-border-radius:17px 17px 17px 17px;
        -moz-border-radius:17px 17px 17px 17px;
    }

}/*レスポンシブスマホ用ここまで*/

/***************************************************
　■デザイン系
****************************************************/
#wrapper {
    padding: 0 0px;
    width:100%;
}



/***************************************************
　■レスポンシブPC用
****************************************************/


/*レスポンシブPC用　ヘッダ*/
#header header{


    color:#fffffe;

    background-color:#000000;

    box-shadow:rgba(64, 65, 66, 0.368627) -1px -1px 16px 1px;
    -webkit-box-shadow:rgba(64, 65, 66, 0.368627) 5px 0px 26px 1px;
    -moz-box-shadow:rgba(64, 65, 66, 0.368627) -1px -1px 16px 1px;

    opacity: 1.0;

    margin-bottom:80%;

    padding:10px;

    width:100%;
    height:8000px;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 120;

}


#header header h1{
    font-size:620%;
    color:#fffffe;
    text-align:center;
    margin-left:0px;
    margin-top:200px;
    padding:0px 0px 10px 5px;
    font-family:  'Poiret One',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#header header a{
    color:#fffffe;
}

#header header p{
    text-align:center;
    font-size:80%;
    padding:10px;
}




/*レスポンシブPC用　記事部分*/

#contents {


    width:100%;
    position:relative;
    top:10px;
    left:0px;
    z-index: 1;
}

article{
    text-align:left;
    font-size:11pt;
    lineheight:1.2;
    width:80%;
    margin:auto auto;

}


/*レスポンシブPC用　ナビ*/
#nav nav {
    /*padding:10px 5% 10px 5%;*/
    font-size:70%;
    font-weight:normal;
    font-family:  'Poiret One',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color:#fffffe;

    text-align:center;

    width:100%;
    position:fixed;
    top:100px;
    left:0px;
    z-index: 101;
}

#nav nav a{
    color:#fffffe;
}


/*レスポンシブPC用　フッタ*/
#footer footer{
    margin-top:350px;
    padding:200px 50px 3px 50px ;

    text-align:center;
    font-size:80%;

    color:#000002;
    border-bottom:solid 8px #000002;


    width:100%;
    position:relative;
    bottom:0px;
    left:0px;
    z-index: 102;
}

/*top gallery用*/
#footer2 {
    margin-top:350px;
    padding:200px 50px 3px 50px ;

    text-align:center;
    font-size:80%;

    color:#000002;
    border-bottom:solid 8px #000002;


    width:100%;
    position:relative;
    bottom:0px;
    left:0px;
    z-index: 102;
}


/*レスポンシブPC用　ページトップ*/

#pagetop{
    bottom: 30px;
    right: -20px;
    width: 90px;
    padding: 20px 20px 20px 10px;

    background:#000002;

    font-size: 10pt;
    color: #fffffe;
    text-align: center;
    text-decoration: none;

    display: block;
    position: fixed;
    z-index: 999;

    opacity: 0.8;

    border-radius:20px 0px 0px 20px;
    -webkit-border-radius:20px 0px 0px 20px;
    -moz-border-radius:20px 0px 0px 20px;
}

#pagetop:hover{
    background:#000002;
    opacity: 1.0;
}


/*レスポンシブPC用　デザイン1*/

#info{
    text-align:left;
    font-size:10pt;

    background-color:#000002;
    color:#fffffe;

    margin:0px 10% 50px 10%;
    padding:20px 50px 50px 50px;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#info a{
    color:#fffffe;
}
#info a:hover{
    font-weight:bold;
    color:#fffffe;
}


#info h1{
    color:#fffffe;
}

#info h2{
    color:#fffffe;

}
#info h3{
    color:#fffffe;
}
#info h4{
    color:#fffffe;
}
#info h5{
    color:#fffffe;
}
#info h6{
    color:#fffffe;
}


/*レスポンシブPC用　デザイン2*/
#info2{
    text-align:left;
    font-size:90%;
    line-height: 1.4;

    color:#000002;


    margin:0px 0% 50px 0%;
    padding:0px 0px 10px 0px;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#info2 p{
    padding:5px 5% 10px 5%;
}


#info2 h1{
    color:#000002;
}

#info2 h2{
    color:#000002;

}
#info2 h3{
    color:#000002;
}

#info2 h4{
    color:#000002;
}

#info2 h5{
    color:#000002;
}
#info2 h6{
    color:#000002;
}





/*レスポンシブPC用　記事情報*/
#articleinfo{
    text-align:left;
    font-size:9pt;

    color:#fffffe;

    background-color:#000002;
    margin:100px 0px 5px 50%;
    padding:20px 50px 20px 50px;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

/*レスポンシブPC用　画像*/
.photo {
    width:400px;
    box-shadow:rgba(64, 65, 66, 0.368627) -1px -1px 16px 1px;
    -webkit-box-shadow:rgba(64, 65, 66, 0.368627) -1px -1px 16px 1px;
    -moz-box-shadow:rgba(64, 65, 66, 0.368627) -1px -1px 16px 1px;
}

/*レスポンシブPC用　ここまで*/



/***************************************************
　レスポンシブ スマホ用　
****************************************************/
@media screen and (max-width:879px){

    /*レスポンシブ スマホ用ヘッダ*/
    #header header{
        padding:10px 10px 10px 20px;


        box-shadow:rgba(64, 65, 66, 0.368627) -1px -1px 16px 1px;
        -webkit-box-shadow:rgba(64, 65, 66, 0.368627) -1px -1px 16px 1px;
        -moz-box-shadow:rgba(64, 65, 66, 0.368627) -1px -1px 16px 1px;


        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);

        width:100%;
        height:100px;
        position:fixed;
        top:0px;
        left:0px;
        z-index: 2;
    }

    #header header h1{
        padding:10px 10px 10px 20px;
        font-size:120%;
        color:#efefef;
        text-align:left;
        font-family: 'Poiret One', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    }

    #header header p{
        text-align:center;
        font-size:80%;
        padding:10px;

        display:none;
    }

    /*レスポンシブスマホ用　ヘッダ画像*/


    .coverimg0{
        display: none;
    }

    .coverimg{

        display: none;

        /*
            display: block;

            width:20%;
            position:fixed;
            top:1px;
            right:3px;
            z-index: 10000;
        */
    }


    .coverimg0{
        display: none;
    }

    /*レスポンシブ スマホ用記事部分*/


    #contents {
        margin-left:0%;

        width:100%;
        height:100%;
        position:relative;
        top:0px;
        left:0px;
        z-index: 1;
    }

    article{
        padding:50px 20px 10px 20px;
    }


    /*レスポンシブ スマホ用ナビ*/
    #nav nav {
        padding:10px 10px 10px 10px;
        font-size:50%;
        font-weight:bold;
    }


    /*レスポンシブ スマホ用フッタ*/
    #footer footer{
        padding:550px 50px 3px 50px ;

        text-align:center;
        font-size:80%;

        color:#000002;
        border-bottom:solid 8px #000002;

        width:100%;
        position:relative;
        bottom:0px;
        left:0px;
        z-index: 102;
    }




    /*レスポンシブ スマホ用　pagetop*/

    #pagetop{
        bottom: -30px;
        right: -20px;
        width: 90px;
        padding: 15px 10px 25px 10px;

        background-color:#000002;

        font-size: 10pt;
        color: #fffffe;
        text-align: center;
        text-decoration: none;

        display: block;
        position: fixed;
        z-index: 999;

        border-radius:50px 0px 0px 10px;
        -webkit-border-radius:50px 0px 0px 10px;
        -moz-border-radius:50px 0px 0px 10px;

        opacity: 0.6;
    }

    #pagetop:hover{

        background-color:#000002;
        opacity: 0.9;
    }

    /*レスポンシブ スマホ用記事情報*/
    #articleinfo{
        text-align:left;
        font-size:9pt;

        color:#fffffe;

        background-color:#000002;
        margin:50px 0px 5px 0px;
        padding:20px 20px 20px 20px;

        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
    }

    img{
        max-width: 100%;
        height: auto;
        width /***/:auto;　
    }

    /*レスポンシブ スマホ用記事*/
    article{


        text-align:left;
        font-size:10pt;
        lineheight:1.2;


        width:80%;

        margin:auto auto;

    }

}
/*レスポンシブスマホ用　ここまで*/




/***************************************************
　その他
****************************************************/


.migiyose{
    text-align:right;
    font-size:9pt;
}



/*******************************************/
/*ボタン*/

.btn1{

    line-height:3em;

    padding: 5px 15px 5px 15px;
    margin: 15px 15px 15px 15px;

    background-color:#000002;

    font-size: 8pt;
    color: #fffffe;
    text-align: center;
    text-decoration: none;

    opacity: 1.0;

    border-radius:17px 17px 17px 17px;
    -webkit-border-radius:17px 17px 17px 17px;
    -moz-border-radius:17px 17px 17px 17px;

    box-shadow:rgba(64, 65, 66, 0.368627) 1px 1px 3px 1px;
    -webkit-box-shadow:rgba(64, 65, 66, 0.368627) 1px 1px 3px 1px;
    -moz-box-shadow:rgba(64, 65, 66, 0.368627) 1px 1px 3px 1px;
}

.btn1 a{
    color:#fffffe!important;
}

.btn1 a:visited{
    color:#fffffe;
}

.btn1:hover{
    opacity: 0.8;
}


/*************************/

pre{
    font-size:9pt;
    line-height: 1.4;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

    margin: 50px auto 50px auto;
    padding: 30px 3% 50px 3%;
    border: 1px solid #000002;

    border-radius:17px 17px 17px 17px;
    -webkit-border-radius:17px 17px 17px 17px;
    -moz-border-radius:17px 17px 17px 17px;

    box-shadow:rgba(64, 65, 66, 0.368627) 1px 1px 3px 1px;
    -webkit-box-shadow:rgba(64, 65, 66, 0.368627) 1px 1px 3px 1px;
    -moz-box-shadow:rgba(64, 65, 66, 0.368627) 1px 1px 3px 1px;
}

/***************************************************
　トップページ用　
****************************************************/

.enterpage{
    margin:30% 0 auto 0;
    font-family: 'Clicker Script', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 100pt;
    text-align:center;
    color: #000002;
}

.enterpage a{
    opacity:1.0;
    color: #000002;
}

.enterpage a:hover{
    opacity: 0.8;
    color: #000002;
}



/*レスポンシブスマホ用*/
@media screen and (max-width:839px){
    .enterpage{
        margin:30% 0 auto 0;
        font-family: 'Clicker Script', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        font-size: 24pt;
        text-align:center;
        color: #000002;
    }
}/*レスポンシブスマホ用　ここまで*/

.caption {
    margin-top:10px;
    font-size: 8pt;
    color: #000002;
    text-align:center;
}



/***************************************************
　特殊
****************************************************/

/*ゲームブック風Status表示*/

#status1{
    padding-right:100px;

}

/*jQueryでアコーディオン*/
#status2 dt{

    width:50px;
    height:50px;

    background-color:#000002;
    text-align:center;
    color:#fffffe;
    padding:20px;
    cursor:pointer;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    font-size:9pt;
    line-height:130%;

    position:fixed;
    top:200px;
    right:50px;
    z-index: 112;
}



/*Statusを表示する方*/
#status2 dd{
    width:20%;
    background-color:#000002;
    color:#fffffe;
    padding:10px 10px 50px 20px;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 17px;

    font-size:9pt;
    line-height:130%;

    position:fixed;
    top:230px;
    right:-17px;
    z-index: 111;

    display:none;
}

/*レスポンシブスマホ用*/


#status1{
    padding-right:100px;

}

/*jQueryでアコーディオン*/
#status2 dt{
    width:50px;
    height:50px;

    background-color:#000002;
    text-align:center;
    color:#fffffe;
    padding:20px;
    cursor:pointer;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    font-size:9pt;
    line-height:130%;

    position:fixed;
    top:200px;
    right:50px;
    z-index: 112;
}


/*レスポンシブスマホ用*/

@media screen and (max-width:879px){
    /*レスポンシブスマホ用　Statusを表示する方*/
    #status2 dd{
        width:80%;/*レスポンシブ変更*/

        background-color:#000002;
        color:#fffffe;
        padding:10px 10px 50px 20px;

        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 17px;

        font-size:9pt;
        line-height:130%;

        position:fixed;
        top:230px;
        left:10px;/*レスポンシブ変更*/
        z-index: 111;

        display:none;
    }
}
/*レスポンシブここまで*/


/***************************************************
　ギャラリー
****************************************************/
/***************************************************
　トップページ用2（ギャラリー兼用）
****************************************************/

#gallery{
    margin:auto;
    width:500px;

    padding:50px 50px 150px 50px ;

    font-size:80%;
    text-align:center;
}

#gallery h1{
    font-size:380%;
    color:#000002;
    text-align:center;
    font-family: 'Poiret One', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}



/*正方形にトリミング画像使う場合（galleryサムネイル）
　<span style="background-image:url('img/1251.jpg')" class="coverimg1" ></span>
*/
.gallery{
    width:130px;
    height:130px;

    margin:3px 3px 3px 3px ;

    display: inline-block;
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;

    border:0px solid #fffffe;

    border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    -moz-border-radius:10px 10px 10px 10px;
    /*
    border-radius:50px 5px 5px 5px;
        -webkit-border-radius:50px 5px 5px 5px;
        -moz-border-radius:50px 5px 5px 5px;
    */

    box-shadow:rgba(64, 65, 66, 0.368627) 1px 1px 3px 1px;
    -webkit-box-shadow:rgba(64, 65, 66, 0.368627) 1px 1px 3px 1px;
    -moz-box-shadow:rgba(64, 65, 66, 0.368627) 1px 1px 3px 1px;

    /*中央揃え
    display: block;
    margin-left: auto;
    margin-right: auto;
    */
}

/*ギャラリー（作品）*/
.galleryimg{
    /*画像のwidthは、画像の方に各個直接指定推奨*/
    /*width:300px;*/

    /*中央揃え*/
    display: block;
    margin-left: auto;
    margin-right: auto;

    border:0px solid #fffffe;

    box-shadow:rgba(64, 65, 66, 0.368627) -1px -1px 16px 1px;
    -webkit-box-shadow:rgba(64, 65, 66, 0.368627) -1px -1px 16px 1px;
    -moz-box-shadow:rgba(64, 65, 66, 0.368627) -1px -1px 16px 1px;
}


.gallerytxt {
    margin: 20px auto 20px auto;
    padding: 30px 5% 30px 5%;
    border: 1px solid #000002;
    font-size: 100%;

    text-align:left;

    border-radius:17px 17px 17px 17px;
    -webkit-border-radius:17px 17px 17px 17px;
    -moz-border-radius:17px 17px 17px 17px;
}




/*ギャラリー（作品）*/
/*レスポンシブスマホ用*/
@media screen and (max-width:879px){
    #gallery{
        margin:auto;
        width:100%;

        padding:3px 3px 3px 3px ;

        font-size:80%;
        text-align:left;
    }

    .galleryimg{
        width:95%;

        border:0px solid #fffffe;

        box-shadow:rgba(64, 65, 66, 0.368627) -1px -1px 16px 1px;
        -webkit-box-shadow:rgba(64, 65, 66, 0.368627) -1px -1px 16px 1px;
        -moz-box-shadow:rgba(64, 65, 66, 0.368627) -1px -1px 16px 1px;
    }
}/*レスポンシブスマホ用　ここまで*/


/************************************/

div.icon1{
    padding-top:10px;
    text-align:center;
    font-size:100%;
    color:#000002;
}

div.icon1b{
    padding-top:30px;
    margin-left:50px;
    text-align:left;
    font-size:50%;
    color:#000002;
}

div.icon2{
    padding-top:10px;
    text-align:center;
    font-size:220%;
    color:#000002;
}

div.icon3{
    text-align:center;
    font-size:500%;
    color:#000002;
}

div.icon4{

    text-align:center;
    font-size:900%;
    color:#000002;

    opacity:1.0;

    position:fixed;
    bottom:-200px;
    left:-300px;
    z-index: 125;

    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);

}

div.icon5{
    text-align:center;
    font-size:800%;
    color:#000002;
}



/*レスポンシブスマホ用*/

@media screen and (max-width:879px){
    div.icon1{
        text-align:right;
        font-size:80%;
        color:#000002;
    }
    div.icon2{
        text-align:right;
        font-size:80%;
        color:#000002;
    }
    div.icon3{
        text-align:right;
        font-size:80%;
        color:#000002;
    }
    div.icon4{
        text-align:right;
        font-size:80%;
        color:#000002;
    }
    div.icon5{
        text-align:right;
        font-size:80%;
        color:#000002;
    }
}/*レスポンシブスマホ用　ここまで*/


/**********************************************/

/*縦書用設定追加分*/
.tate{
    padding:50px 0px 50px 0px ;
    font-size:110%;
}

/*罫線関連*/
._r_separator {
    clear: both;
    width: 100%;
    height: 30px!important;
    margin-bottom: 30px!important;
    border-bottom: dotted 1px #ccc;
}



/*********************************************/

.snsbox{
    text-align:left;
    font-size:8pt;
    background-color:#fffffe;
    color:#4a4a4a;

    width:50%;
    height:100px;
    margin-left: auto;
    margin-top:500px;
    padding:10px 20px 20px 20px;

    border:solid 1px #4a4a4a;

    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;

}


/**********************************************/
/*縦書き内画像*/

.h2v img{
    width:300px!important;
    height:auto!important;
}

/*レスポンシブスマホ用*/
@media screen and (max-width:879px){

    .h2v img{
        width:250px!important;
        height:auto!important;
    }

}/*レスポンシブスマホ用ここまで*/


.h2v hr{
    margin-left:30px!important;
}

/**********************************************/


.top_txt {
    margin: 50px auto 50px auto;
    padding: 80px 10% 80px 10%;
    border: 0px solid #000002;
    font-size: 50%;

    text-align:left;

    border-radius:17px 17px 17px 17px;
    -webkit-border-radius:17px 17px 17px 17px;
    -moz-border-radius:17px 17px 17px 17px;
}



/**********************************************/


hr{
    margin:80px 5px 50px 5px;
    border: 1px #000002 dotted;
}



.iconm{
    margin-top:30px;
    font-size:0%;


}


/**************************************************/

#home1{
    text-align:left;
    font-size:9pt;
    lineheight:1.2;


    width:30%;


    margin:70px auto;
    padding:50px 50px 80px 50px;


    border: 1px solid #000002;
    font-size: 90%;

    border-radius:17px 17px 17px 17px;
    -webkit-border-radius:17px 17px 17px 17px;
    -moz-border-radius:17px 17px 17px 17px;


    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#home1 a{
    color:#000002;
}
#home1 a:hover{
    font-weight:bold;
    color:#000002;
}


#home1 h1{

    margin:10px 10% 10px 10%;
    font-size:200%;

    color:#000002;

    font-family:  'Poiret One',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin:40px 10% 40px 10% ;

}

#home1 h2{
    color:#000002;
    margin:40px 10% 40px 10% ;
}
#home1 h3{
    color:#000002;
    margin:40px 10% 40px 10% ;
}
#home1 h4{
    color:#000002;
    margin:40px 10% 40px 10% ;
}
#home1 h5{
    color:#000002;
    margin:40px 10% 40px 10% ;
}
#home1 h6{
    color:#000002;
    margin:40px 10% 40px 10% ;
}

#home1 p{

    margin:40px 12% 40px 12% ;
    font-size:90%;
}




#home2{
    text-align:left;
    font-size:10pt;
    lineheight:1.2;


    width:70%;


    margin:50px 10% 50px 10%;
    padding:20px 50px 50px 50px;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#home2 a{
    color:#000002;
}
#home2 a:hover{
    font-weight:bold;
    color:#000002;
}


#home2 h1{

    font-size:200%;

    color:#000002;

    font-family:  'Poiret One',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}

#home2 h2{
    font-family:  'Poiret One',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin-top:50px;
    margin-bottom:100px;
    text-align:left;

    border-bottom:solid 1px #000002;

    color:#000002;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size:120%;

}

#home1 h3{
    font-family:  'Poiret One',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin-top:50px;
    margin-bottom:100px;
    text-align:left;

    border-bottom:solid 1px #000002;

    color:#000002;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#home1 h4{
    font-family:  'Poiret One',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin-top:50px;
    margin-bottom:100px;
    text-align:left;

    border-bottom:solid 1px #000002;

    color:#000002;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#home1 h5{
    font-family:  'Poiret One',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin-top:50px;
    margin-bottom:100px;
    text-align:left;

    border-bottom:solid 1px #000002;

    color:#000002;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#home1 h6{
    font-family:  'Poiret One',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin-top:50px;
    margin-bottom:100px;
    text-align:left;

    border-bottom:solid 1px #000002;

    color:#000002;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}







#nav2 {

    margin-top:0px;
    margin-bottom:0px;

    padding:0px 7px 0px 7px ;

    font-size:100%;
//sfont-weight:bold;
    font-family:  'Sawarabi+Gothic',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}



/*スマホ用*/
@media screen and (max-width:479px){

    #home1{
        width:85%;
        margin:5px 1% 50px 1%;
        padding:50px 20px 100px 20px;
    }

    #home2{
        width:85%;
        margin:5px 1% 50px 1%;
        padding:50px 20px 100px 20px;
    }

    #home1 h1{
        font-size:100%;
    }

    #home2 h1{
        font-size:100%;
    }

}/*スマホ用*/


/**************************************************/

.description{
    font-family:  'Poiret One',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin-top:50px;
    margin-bottom:100px;
    text-align:center;

    border-bottom:solid 1px #000002;

}

#header2{
    margin:auto auto;
    width:80%;

    font-family:  'M PLUS 1p',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin-top:50px;
    margin-bottom:20px;
    text-align:left;

    color:#000000;

}


#header2 h1{
    font-size:170%;
    padding:0px 5px 0px 5px ;
    margin:20px 0px 20px 0px;
}

#header2 a{
    color:#000000;

}
#header2 hr{
    margin:20px 5px 20px 5px;
    border: 1px #000002 dotted;

}

.book_unit
{
    margin-bottom: 50px;
}


.diary_unit
{
    margin-bottom: 50px;
}

